body {
    margin:0px;
    overflow:hidden;
    -ms-content-zooming:none;
    background-color:#ffffff;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

iframe {
    position: absolute;
    border: none;
}
